<div class="container">
  <div class="row header-row py-4">
    <div class="col-11 col-md-12 mx-auto title text-center rounded p-3">
      <h1>Képgaléria</h1>
    </div>
  </div>

  <div class="row py-4" *ngIf="galleryImagesPortrait.length">
    <div class="col-11 col-md-12 mx-auto order-2 order-md-1 text-center rounded border border-warning portfolio">
      <h4 class="text-left my-3">Portrék</h4>
      <ngx-gallery [options]="galleryOptions" [images]="galleryImagesPortrait"></ngx-gallery>
    </div>
    <!--<div class="col-12 col-md-2 order-1 text-center">Lorem ipsum</div>-->
  </div>

  <div class="row py-4" *ngIf="galleryImagesChildAndFamily.length">
    <div class="col-11 col-md-12 mx-auto order-2 order-md-1 text-center rounded border border-warning portfolio">
      <h4 class="text-left my-3">Gyerek-és családi fotók</h4>
      <ngx-gallery [options]="galleryOptions" [images]="galleryImagesChildAndFamily"></ngx-gallery>
    </div>
    <!--<div class="col-12 col-md-2 order-1 text-center">Lorem ipsum</div>-->
  </div>

  <div class="row py-4" *ngIf="galleryImagesPregnant.length">
    <div class="col-11 col-md-12 mx-auto order-2 order-md-1 text-center rounded border border-warning portfolio">
      <h4 class="text-left my-3">Kismama fotók</h4>
      <ngx-gallery [options]="galleryOptions" [images]="galleryImagesPregnant"></ngx-gallery>
    </div>
    <!--<div class="col-12 col-md-2 order-1 text-center">Lorem ipsum</div>-->
  </div>

  <div class="row py-4" *ngIf="galleryImagesChristening.length">
    <div class="col-11 col-md-12 mx-auto order-2 order-md-1 text-center rounded border border-warning portfolio">
      <h4 class="text-left my-3">Keresztelő fotók</h4>
      <ngx-gallery [options]="galleryOptions" [images]="galleryImagesChristening"></ngx-gallery>
    </div>
    <!--<div class="col-12 col-md-2 order-1 text-center">Lorem ipsum</div>-->
  </div>

  <div class="row py-4" *ngIf="galleryImagesKindergarten.length">
    <div class="col-11 col-md-12 mx-auto order-2 order-md-1 text-center rounded border border-warning portfolio">
      <h4 class="text-left my-3">Óvodai gyerekfotók</h4>
      <ngx-gallery [options]="galleryOptions" [images]="galleryImagesKindergarten"></ngx-gallery>
    </div>
    <!--<div class="col-12 col-md-2 order-1 text-center">Lorem ipsum</div>-->
  </div>

  <div class="row py-4">
    <h4>Esküvői fotók</h4>
    <div class="col-12 text-center">
      <button type="button" class="btn btn-primary" (click)="showCreativePhotosFnc();">Kreatív fotók <span
        class="badge">{{galleryImagesCreative.length}} db</span></button>&nbsp;
      <button type="button" class="btn btn-primary" (click)="showEngagedPhotosFnc();">Jegyes fotók <span
        class="badge">{{galleryImagesEngaged.length}} db</span></button>&nbsp;
      <button type="button" class="btn btn-primary" (click)="showPreparationPhotosFnc();">Készülődés <span
        class="badge">{{galleryImagesPreparation.length}} db</span></button>&nbsp;
      <button type="button" class="btn btn-primary" (click)="showPermissionPhotosFnc();">Ki kérő <span
        class="badge">{{galleryImagesPermission.length}} db</span></button>&nbsp;
      <button type="button" class="btn btn-primary" (click)="showCivilCerenomyPhotosFnc();">Polgári szertartás <span
        class="badge">{{galleryImagesCivilCerenomy.length}} db </span></button>&nbsp;
      <button type="button" class="btn btn-primary" (click)="showLiturgyPhotosFnc();">Templomi szertartás <span
        class="badge">{{galleryImagesLiturgy.length}} db</span></button>&nbsp;
      <button type="button" class="btn btn-primary" (click)="showDinnerPartyPhotosFnc();">Vacsora - buli <span
        class="badge">{{galleryImagesDinnerParty.length}} db</span></button>&nbsp;
    </div>
  </div>

  <div class="row py-4" *ngIf="galleryImagesCreative.length ||
                             galleryImagesEngaged.length ||
                             galleryImagesPreparation.length ||
                             galleryImagesPermission.length ||
                             galleryImagesCivilCerenomy.length ||
                             galleryImagesLiturgy.length ||
                             galleryImagesDinnerParty.length
                             ">
    <div class="col-11 col-md-12 mx-auto order-2 order-md-1 text-center rounded border border-warning portfolio"
         [class.active]="showCreativePhotos===true" [class.inactive]="showCreativePhotos===false">
      <h4 class="text-left my-3">Kreatív fotók</h4>
      <ngx-gallery [options]="galleryOptions" [images]="galleryImagesCreative"></ngx-gallery>
    </div>

    <div class="col-11 col-md-12 mx-auto order-2 order-md-1 text-center rounded border border-warning portfolio"
         [class.active]="showEngagedPhotos===true" [class.inactive]="showEngagedPhotos===false">
      <h4 class="text-left my-3">Jegyes fotók</h4>
      <ngx-gallery [options]="galleryOptions" [images]="galleryImagesEngaged"></ngx-gallery>
    </div>

    <div class="col-11 col-md-12 mx-auto order-2 order-md-1 text-center rounded border border-warning portfolio"
         [ngClass]="{'active': showPreparationPhotos === true, 'inactive':  showPreparationPhotos === false}">
      <h4 class="text-left my-3">Készülődés</h4>
      <ngx-gallery [options]="galleryOptions" [images]="galleryImagesPreparation"></ngx-gallery>
    </div>

    <div class="col-11 col-md-12 mx-auto order-2 order-md-1 text-center rounded border border-warning portfolio"
         [ngClass]="{'active': showPermissionPhotos === true, 'inactive':  showPermissionPhotos === false}">
      <h4 class="text-left my-3">Ki kérő</h4>
      <ngx-gallery [options]="galleryOptions" [images]="galleryImagesPermission"></ngx-gallery>
    </div>

    <div class="col-11 col-md-12 mx-auto order-2 order-md-1 text-center rounded border border-warning portfolio"
         [ngClass]="{'active': showCivilCerenomyPhotos === true, 'inactive':  showCivilCerenomyPhotos === false}">
      <h4 class="text-left my-3">Polgári szertartás</h4>
      <ngx-gallery [options]="galleryOptions" [images]="galleryImagesCivilCerenomy"></ngx-gallery>
    </div>

    <div class="col-11 col-md-12 mx-auto order-2 order-md-1 text-center rounded border border-warning portfolio"
         [ngClass]="{'active': showLiturgyPhotos === true, 'inactive':  showLiturgyPhotos === false}">
      <h4 class="text-left my-3">Templomi szertartás</h4>
      <ngx-gallery [options]="galleryOptions" [images]="galleryImagesLiturgy"></ngx-gallery>
    </div>

    <div class="col-11 col-md-12 mx-auto order-2 order-md-1 text-center rounded border border-warning portfolio"
         [ngClass]="{'active': showDinnerPartyPhotos === true, 'inactive':  showDinnerPartyPhotos === false}">
      <h4 class="text-left my-3">Vacsora - buli</h4>
      <ngx-gallery [options]="galleryOptions" [images]="galleryImagesDinnerParty"></ngx-gallery>
    </div>
  </div>
</div>

<app-portfolio-menu-indicator title="KÉPGALÉRIA"></app-portfolio-menu-indicator>
