@import '../../../../sass/variables';

.title {
  background-color: $dark-grey-transparent;
  border: 1px solid $yellow;
}

/deep/ .masonry-extend div {
  all: unset;
  margin-bottom: 20px;
}

/deep/ .masonry-extend div img {
  position: static !important;
  margin: 3px;
  border-radius: 5px;
  min-height: 0;
  // border: 1px solid $yellow;
}

/deep/ .masonry-extend .hover-zoom-box {
  overflow: hidden;
  display: inline-block;
}

/deep/ .masonry-extend div img {
  transition: all 0.5s !important;
}

/deep/ .masonry-extend div img:hover {
  transform: scale(1.4) !important;
}

@media only screen and (max-width: 575px) {
  .header-row {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

}
