$body-background: #22283e;
$nav-link: #504f68;
$basic-yellow: #ffff00;
$red: #ff0000;
$yellow: #ffd700;
$light-yellow: #d0ae54;
$white: #eff0f7;
$dark-blue: #0d111e; // #7da545;
$light-blue: #8387a6; // #17480a;
$black: #000000;
$input-border: #3384aa;
$dark-grey-transparent: rgba(42, 47, 51, 0.5);
$light-grey-transparent: rgba(121, 108, 108, 0.5);


