<div class="row header-row py-4">
  <div class="col-12 title text-center rounded p-3">
    <h1>KÉSZÜLŐDÉS</h1>
    <p>
      Megörökítem életetek egyik legfontosabb napjának legszebb pillanatait.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/portfolio/wedding/categories">Esküvő</a></li>
        <li class="breadcrumb-item active" aria-current="page">Készülődés</li>
      </ol>
    </nav>
  </div>
</div>
<div class="row py-4" *ngIf="!emptyPreparationList">
  <div class="col-8 col-md-4 text-center mx-auto">
    <form class="my-2 my-lg-0">
      <input class="form-control" placeholder="Keresés évszám alapján" id="search-input" type="search">
    </form>
  </div>
</div>

<div class="masonry-elements" *ngIf="!loading; else loadingWarning">
  <div class="row">
    <div class="col-12">
      <ng-container *ngIf="!emptyPreparationList; else warningMessage">
        <ngx-masonry [options]="masonryOptions" [useImagesLoaded]="true">
          <ngxMasonryItem *ngFor="let picture of masonryImages" class="masonry-item">
            <app-portfoliocard
              [picture]="picture"
              nextLabel="Szerkesztés"
              [isAdmin] = this.isAdmin
            >
            </app-portfoliocard>
          </ngxMasonryItem>
        </ngx-masonry>
        <button class="btn btn-full-list-view bg-warning"
                type="button"
                *ngIf="limit < pictures.length && masonryImages.length!=pictures.length"
                (click)="showMoreImages()"><span>Mutasd a többi képet</span>
        </button>
        <h3 *ngIf="fullListView">{{masonryImages.length}} / {{fullListLength}}</h3>
      </ng-container>
      <ng-template #warningMessage>
        <h2>A fotóalbum üres</h2>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-5">
      <a routerLink="/portfolio/new" class="btn btn-primary" role="button" *ngIf="isLoggedIn && isAdmin">Új kép
        feltöltése</a>
    </div>
  </div>
</div>
<ng-template #loadingWarning>
  <app-loading-spinner [loaderWidth]="100" [loaderHeight]="100" class="mb-5"></app-loading-spinner>
</ng-template>




