<div class="container">
  <div class="row py-4 justify-content-center">
    <div class="col-12 col-sm-10 col-md-6">

      <div class="card profile-card mx-auto p-0">

        <div class="card-header profile-card-header text-center">
          <h3>Profil</h3>
        </div>

        <div class="row justify-content-center m-0">
          <img alt="Card image cap" class="profil my-3 border" src="assets/profil.png"></div>
        <div class="card-body">
          <table class="table text-white">
            <tbody>
            <tr>
              <th scope="row">Név:</th>
              <td>{{user.name}}</td>
            </tr>
            <tr>
              <th scope="row">Email-cím:</th>
              <td>{{user.email}}</td>
            </tr>
            <tr>
              <th scope="row">Település:</th>
              <td>{{user.address}}</td>
            </tr>
            <tr>
              <th scope="row">Születési idő /év/hónap/nap:</th>
              <td>{{user.dateOfBirth}}</td>
            </tr>
            <tr>
              <th scope="row">Nem:</th>
              <td>{{user.gender}}</td>
            </tr>
            <th scope="row">Jelszó:</th>
            <td>********</td>
            </tbody>
          </table>

          <div class="text-center mb-3">
            <a routerLink="./edit" class="btn btn-primary btn-lg btn-block"><span>Profil módosítása</span></a>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
