@import "../../../sass/variables";

nav {
  background-color: $dark-grey;

  background-repeat: repeat-x;
  background-position-x: center;
  text-shadow: -1px -1px 0 $white, 1px -1px 0 $white, -1px 1px 0 $white,
  1px 1px 0 $white;

  button.navbar-toggler {
    border: 2px solid $light-grey;
    border-radius: 5px;

    div.navbar-toggler-icon div {
      width: 30px;
      border-bottom: solid 5px $light-grey;
      height: 9px;
    }
  }

  ul {
    position: relative;
    li.nav-item {
      .nav-link {
        color: $nav-link;
        font-size: 1.2rem;
      }
      .dropdown-item:hover {
        background-color: $light-grey;
        color: $dark-grey;
        text-shadow: 0 0 2px $yellow;
        font-size: 1.3rem;
      }
    }
  }
}
