<div class="container">
  <div class="row py-4">
    <div class="col-md-8 col-12">
      <h2 class="mb-4">
        ESKÜVŐ FOTÓZÁS
      </h2>
      <p>
        Kisebb-nagyobb lakodalmak fotózását vállalom, igyekszem minden fontos pillanatot megörökíteni és a lehető
        legtöbb, legszebb pillanatot vissza adni nektek.
      </p>

      <h3 class="mt-5">Mit tartalmaz az ajánlatom?</h3>
      <h2>Teljes csomag</h2>
      <ul>
        <li>Jegyes fotózás - Időtartam: kb. 1,5-2 óra szükséges egy 15-20 kidolgozott képsorozathoz.</li>
        <li>Otthoni készülődés - Időtartam: kb. 3 óra.</li>
        <li>Kreatív fotózás - Időtartam: kb. 3 óra szükséges egy 30-40 kidolgozott képsorozathoz.</li>
        <li>Polgári szertartás - Időtartam: kb. 30 perc.</li>
        <li>Templomi szertartás - Időtartam: kb. 1 óra.</li>
        <li>Lagzi fotózás (menyecsketáncig) - Időtartam: kb. 5-7 óra.</li>
        A teljes csomag 17 óra.
      </ul>
      <h2>Választható csomag</h2>
      <ul>
        <li>Jegyes fotózás - Időtartam: kb. 1,5-2 óra szükséges egy 15-20 kidolgozott képsorozathoz.</li>
        <li>Otthoni készülődés - Időtartam: kb. 3 óra. Ár: 20 000 Ft</li>
        <li>Kreatív fotózás - Időtartam: kb. 3 óra szükséges egy 30-40 kidolgozott képsorozathoz.</li>
        <li>Polgári szertartás - Időtartam: kb. 30 perc.</li>
        <li>Templomi szertartás - Időtartam: kb. 1 óra.</li>
        <li>Lagzi fotózás (menyecsketáncig) - Időtartam: kb. 5-7 óra.</li>
        <li>Slide show (fotókból összeállított videó).</li>
        <li>Fotókönyv</li>
      </ul>
    </div>

    <div class="col-md-4 col-12 text-center">
      <img src="assets/wedding-service.jpg"
           alt="profil-picture"
           class="img-thumbnail">
    </div>
  </div>

  <hr class="hr-style">

  <div class="row py-3">
    <div class="col-md-8 col-11 mx-auto rounded border border-warning even-portfolio">
      <h2 class="mt-3">
        PORTRÉ ÉS MODELL FOTÓZÁS
      </h2>

      <h3 class="mt-5">Mit tartalmaz az ajánlatom?</h3>

      <ul>
        <li>1-1,5 óra fotózás, 10-15 kidolgozott képsorozat.</li>
      </ul>
    </div>

    <div class="col-md-4 col-12 mt-3 mt-md-0 text-center">
      <img src="assets/portre-service.jpg"
           alt="profil-picture"
           class="img-thumbnail">
    </div>
  </div>

  <hr class="hr-style">

  <div class="row py-3">
    <div class="col-md-8 col-12">
      <h2 class="mb-4">
        ESEMÉNY FOTÓZÁS
      </h2>

      <h3 class="mt-5">Mit tartalmaz az ajánlatom?</h3>

      <ul>
        <li>Keresztelő - Időtartam: kb. 1 óra fotózás.</li>
        <li>Születésnap - Ár: 10 000 Ft-tól</li>
        <li>Céges rendezvény - Ár: 25 000 Ft</li>
      </ul>
    </div>

    <div class="col-md-4 col-12 text-center">
      <img src="assets/event-service.jpg"
           alt="profil-picture"
           class="img-thumbnail">
    </div>
  </div>

  <hr class="hr-style">

  <div class="row py-3">
    <div class="col-md-8 col-11 mx-auto rounded border border-warning even-portfolio">
      <h2 class="mt-4">
        GYEREK ÉS CSALÁDI FOTÓZÁS
      </h2>

      <h3 class="mt-5">Mit tartalmaz az ajánlatom?</h3>

      <ul>
        <li>Szabadtéri fotózás - Előre megbeszélt helyszínen, kb. 1-1,5 órás fotózás, 25-30 kidolgozott képsorozat.</li>
        <li>Stúdió fotózás (Sopron Retró Stúdió): 15-20 kidolgozott képsorozatot</li>
      </ul>
    </div>

    <div class="col-md-4 col-12 mt-3 mt-md-0 text-center">
      <img src="assets/family-service.jpg"
           alt="profil-picture"
           class="img-thumbnail">
    </div>
  </div>

</div>

<div class="container mt-4">
  <h2 class="text-center bg-warning rounded text-dark p-3">HOGYAN DOLGOZOM?</h2>
  <p class="my-5 text-justify">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
    beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
    quia consequuntur magni dolores eos qui ratione voluptatem
    sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
    quia non numquam eius modi tempora incidunt ut labore et dolore
    magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
    laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
    autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui
    dolorem eum fugiat quo voluptas nulla pariatur?"
  </p>
</div>

<div class="container rounded user-comments my-5">
  <div class="row">
    <div class="col-12 py-4 text-center">
      <h2>ÜGYFELEIM VÉLEMÉNYE</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 my-3">
      <div class="card blog-card">
        <img class="card-img-top"
             src="assets/kiss_patrik.jpg"
             alt="Card image cap">
        <div class="card-body text-dark">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <h4>Keller László</h4>
          <hr>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 my-3">
      <div class="card blog-card">
        <img class="card-img-top"
             src="assets/kiss_patrik.jpg"
             alt="Card image cap">
        <div class="card-body text-dark">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <h4>Keller László</h4>
          <hr>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 my-3">
      <div class="card blog-card">
        <img class="card-img-top"
             src="assets/kiss_patrik.jpg"
             alt="Card image cap">
        <div class="card-body text-dark">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <h4>Keller László</h4>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="menuIndicator"
     class="d-none d-sm-block">S
  <br>Z
  <br>O
  <br>L
  <br>G
  <br>Á
  <br>L
  <br>T
  <br>A
  <br>T
  <br>Á
  <br>S
  <br>O
  <br>K
</div>
