<div class="row py-4 justify-content-center">
  <div class="card portfolio-detail-card mb-4 col-10 col-sm-8 col-md-6 mx-auto p-0">

    <div class="card-header portfolio-detail-card-header">
      <div class="text-center">
        <h3 *ngIf="!portfolioPicture.id; else modify">Új kép feltöltése</h3>
        <ng-template #modify><h3>Kép szerkesztése</h3></ng-template>
      </div>
    </div>

    <!--card-body-->
    <div class="card-body">

      <!-- portfolioPictureForm.value-->
      <form #portfolioPictureForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Képhez tartozó esemény címe:</label>
          <input class="form-control mb-3"
                 id="name"
                 placeholder="Esemény címe"
                 type="text"
                 [(ngModel)]="portfolioPicture.name"
                 required
                 name="name"
                 #name="ngModel"
                 [disabled]="viewForm"
          >
          <alert class="mt-1" type="danger" *ngIf="name.touched && name.invalid">Kötelező mező!</alert>
        </div>

        <div class="form-group">
          <label for="date">Esemény időpontja</label>
          <input class="form-control mb-3"
                 id="date"
                 placeholder="Esemény időpontja"
                 type="text"
                 [(ngModel)]="portfolioPicture._date"
                 required
                 name="date"
                 #date="ngModel"
                 [disabled]="viewForm"
                 #typeup>
          <!--<div>{{typeup.classList}}</div>
          <div>{{typeup.className}}</div>
          <hr>
          form summa: <div>{{ portfolioPictureForm.touched }}</div>-->
          <alert class="mt-1" type="danger" *ngIf="date.touched && date.invalid">Kötelező mező!</alert>
        </div>

        <div class="form-group">
          <label for="node">Almenü hozzárendelés</label>
          <!--<input class="form-control mb-3"
                 id="node"
                 placeholder="Csomópont megadása"
                 type="text"
                 [(ngModel)]="portfolioPicture.node"
                 required
                 name="node"
                 #node="ngModel"
                 [disabled] = "portfolioPicture.id"
                 >-->
          <select class="form-control mb-3"
                  id="node"
                  required
                  [(ngModel)]="portfolioPicture.node"
                  name="node"
                  #node="ngModel"
                  [disabled] = "portfolioPicture.id"
          >
            <option value="" selected>Kérem válasszon</option>
            <option value="engaged">Jegyesfotók</option>
            <option value="creative">Kreatívfotók</option>
            <option value="portrait">Portrék</option>
            <option value="childandfamily">Gyerek-és családi fotók</option>
            <option value="pregnant">Kismamafotók</option>
            <option value="christening">Keresztelőfotók</option>
            <option value="kindergarten">Óvodaifotók</option>
            <option value="wedding">Esküvőifotók</option>
          </select>
          <alert class="mt-1" type="danger" *ngIf="node.touched && node.invalid">Kötelező mező!</alert>
        </div>

        <div class="form-group">
          <!--|| (portfolioPicture.id && !viewForm))-->
          <ng-container
            *ngIf="!portfolioPicture.id; else imgThumbnail">
            <label for="pictureURL">Fájl kiválasztása</label>
            <input
              class="form-control"
              id="pictureURL"
              type="file"
              name="pictureURL"
              #pictureURL
              (change)="detectFiles($event)"
              [disabled]="viewForm"
            >
            <img *ngIf="portfolioPicture.id && !viewForm"
                 class="img-fluid img-thumbnail mt-3"
                 width="400"
                 alt="thumbnail"
                 [src]="portfolioPicture.pictureURL">
            <div *ngIf="currentFileUpload" class="progress mt-3">
              <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': percentage + '%' }"></div>
            </div>
          </ng-container>
          <ng-template #imgThumbnail>
            <h5 *ngIf="portfolioPicture.id && !viewForm">KÉP NEM MÓDOSÍTHATÓ</h5>
            <img class="img-fluid img-thumbnail" width="400" [src]="portfolioPicture.pictureURL" alt="thumbnail">
          </ng-template>
        </div>

        <div class="text-center mb-3">
          <ng-container *ngIf="userService.isLoggedIn$ | async">
            <ng-container *ngIf="viewForm; else editButtons">
              <button type="button"
                      class="btn btn-primary btn-lg mr-1"
                      (click)="viewForm = false"
              >Szerkesztés
              </button>
            </ng-container>
            <ng-template #editButtons>
              <button type="submit"
                      class="btn btn-primary btn-lg mr-1"
                      [disabled]="portfolioPictureForm.invalid || (!portfolioPicture.id && !selectedFiles)"
              >Mentés
              </button>
              <button type="button"
                      class="btn btn-danger btn-lg"
                      (click)="delete()"
                      *ngIf="portfolioPicture.id"
              >Törlés
              </button>
            </ng-template>
          </ng-container>
          <button type="button"
                  class="btn btn-primary btn-lg ml-1"
                  (click)="navigateBack()"
          >Vissza
          </button>
        </div>
      </form>

    </div>

  </div>
</div>
