<div class="row justify-content-around pt-4">
  <div class="col-auto text-center">
    <label>Keresés a képek között év</label>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" placeholder="Esemény neve" id="search-input" type="search">
    </form>
  </div>

  <div class="my-2 my-lg-0 text-center" *ngIf="isLoggedIn">
    <div>
      <label>Tesztképet szeretnék feltölteni</label>
    </div>
    <div class="w-100"></div>
    <div><a routerLink="/portfolio/new" class="btn btn-primary" role="button">Új kép feltöltése</a></div>
  </div>

</div>

<div class="card-columns pt-5 pb-5">
  <app-portfoliocard
    *ngFor="let picture of pictures"
    [picture]="picture"
  >
  </app-portfoliocard>
</div>

