/* You can add global styles to this file, and also import other style files */
$body-background: #22283e;
$yellow: #ffd700;
$light-yellow: #d0ae54;
$white: #eff0f7;
$dark-grey: #0d111e; // #7da545;
$light-grey: #8387a6; // #17480a;
$black: #000000;
$dark-grey-transparent: rgba(42, 47, 51, 0.5);
$light-grey-transparent: rgba(121, 108, 108, 0.5);

body {
  background-color: $body-background;
  background-image: url("../src/assets/transparent_flower.png");
  background-position: bottom center;
  background-attachment: fixed;
  color: $yellow;
  overflow-x: hidden;
}

nav {
  background-color: $dark-grey;

  // background-image: url("../src/assets/navbar-waves.png");
  background-repeat: repeat-x;
  background-position-x: center;
  text-shadow: -1px -1px 0 $white, 1px -1px 0 $white, -1px 1px 0 $white,
  1px 1px 0 $white;

  button.navbar-toggler {
    border: 2px solid $light-grey;
    border-radius: 5px;

    div.navbar-toggler-icon div {
      width: 30px;
      border-bottom: solid 5px $light-grey;
      height: 9px;
    }
  }

  ul {
    li.nav-item {
      .nav-link {
        color: #504f68;
        font-size: 1.2rem;
      }
      .dropdown-item:hover {
        background-color: $light-grey;
        color: $dark-grey;
        text-shadow: 0 0 2px $yellow;
        font-size: 1.3rem;
      }
    }
  }
}

carousel .carousel {
  .carousel-indicators {
    bottom: 80px;

    li {
      width: 15px;
      height: 15px;
      border-radius: 10px;
      background: transparent;
      border: 2px solid #ffffff;
      margin-left: 10px;
      margin-right: 10px;
    }

    li.active {
      background-color: $white;
    }
  }

  .carousel-inner {
    opacity: 1;
    background: black;

    slide {
      -webkit-transition-property: opacity;
      transition-property: opacity;

      height: 100vh;
      min-height: 600px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      .carousel-caption {
        bottom: 100px;
      }
    }

  }

  .carousel-inner .item {
    opacity: 0;
    display: table-cell;
    -webkit-transition: opacity 3s ease;
    -moz-transition: opacity 3s ease;
    -o-transition: opacity 3s ease;
    transition: opacity 3s ease;
  }

  .carousel-inner .active {
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 3s ease;
    -moz-transition: opacity 3s ease;
    -o-transition: opacity 3s ease;
    transition: opacity 3s ease;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: block;
    border: 2px solid #ffffff;
    background-color: transparent;
    border-radius: 5px;
    padding: 30px;
    background-size: 45% 45%;
    cursor: pointer;
  }
}


/* index */
.main-page {
  .reservation {
    padding: 20px;
    border-top: 3px solid #ffff00;
    border-bottom: 3px solid #ff0000;
    background-image: linear-gradient(#ffff00, #ff0000),
    linear-gradient(#ffff00, #ff0000);
    background-size: 3px 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;

    .card {
      background-image: url("../src/assets/reservation.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      min-height: 400px;

    }
  }

  .portfolio {
    background-color: $light-grey;

    .card {
      background-color: $dark-grey;
      border: 1px solid $yellow;

      .card-assets-top,
      .card-body {
        position: relative;
        top: -25px;
      }

      .card-body {
        hr {
          background-color: $light-yellow;
          height: 1px;
        }
      }
    }

    .card:nth-child(2) {
      .card-assets-top,
      .card-body {
        position: relative;
        top: -60px;
      }
    }
  }
}


/* end index */

/* start indicator */
#menuIndicator {
  background-color: $yellow;
  padding: 15px;
  position: fixed;
  top: 200px;
  left: 0;
  z-index: 1000;
  color: $black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-weight: bold;
  border: 1px double $light-grey;
}

/* end indicator*/


footer {
  background-color: $dark-grey;
  color: $yellow;


  .fa-facebook-square {
    color: $yellow;
    font-size: xx-large;
  }
}
