<div class="row header-row py-4">
  <div class="col-12 title text-center rounded p-3">
    <h1>ESKÜVŐI FOTÓK</h1>
    <p>
      Megörökítem életetek egyik legfontosabb napjának legszebb pillanatait.
    </p>
  </div>
</div>

<div class="row text-center py-4">
  <div class="col-12 col-lg-3 p-3">
    <div class="card">
      <div class="card-header text-center p-0">
        <img
          alt="Card image cap"
          class="card-img-top"
          src="assets/kiss_patrik.jpg"
        />
      </div>
      <div class="card-body">
        <p><a routerLink="/portfolio/wedding/creative">Kreatív fotók</a></p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 p-3">
    <div class="card">
      <div class="card-header text-center p-0">
        <img
          alt="Card image cap"
          class="card-img-top"
          src="assets/kiss_patrik.jpg"
        />
      </div>
      <div class="card-body">
        <p><a routerLink="/portfolio/wedding/engaged">Jegyes fotók</a></p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 p-3">
    <div class="card">
      <div class="card-header text-center p-0">
        <img
          alt="Card image cap"
          class="card-img-top"
          src="assets/kiss_patrik.jpg"
        />
      </div>
      <div class="card-body">
        <p><a routerLink="/portfolio/wedding/preparation">Készülődés</a></p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 p-3">
    <div class="card">
      <div class="card-header text-center p-0">
        <img
          alt="Card image cap"
          class="card-img-top"
          src="assets/kiss_patrik.jpg"
        />
      </div>
      <div class="card-body">
        <p><a routerLink="/portfolio/wedding/permission">Ki kérő</a></p>
      </div>
    </div>
  </div>
</div>

<div class="row text-center py-4">
  <div class="col-12 col-lg-3 p-3 mx-auto">
    <div class="card">
      <div class="card-header text-center p-0">
        <img
          alt="Card image cap"
          class="card-img-top"
          src="assets/kiss_patrik.jpg"
        />
      </div>
      <div class="card-body">
        <p><a routerLink="/portfolio/wedding/civil-ceremony">Polgári szertartás</a></p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 p-3 mx-auto">
    <div class="card">
      <div class="card-header text-center p-0">
        <img
          alt="Card image cap"
          class="card-img-top"
          src="assets/kiss_patrik.jpg"
        />
      </div>
      <div class="card-body">
        <p><a routerLink="/portfolio/wedding/liturgy">Templomi szertartás</a></p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 p-3 mx-auto">
    <div class="card">
      <div class="card-header text-center p-0">
        <img
          alt="Card image cap"
          class="card-img-top"
          src="assets/kiss_patrik.jpg"
        />
      </div>
      <div class="card-body">
        <p><a routerLink="/portfolio/wedding/dinner-party">Vacsora - buli</a></p>
      </div>
    </div>
  </div>
</div>
