<div class="row header-row py-4">
  <div class="col-11 col-md-12 mx-auto title text-center rounded p-3">
    <h1>Képgaléria</h1>
  </div>
</div>

<div class="row py-4" *ngIf="galleryImagesEngaged.length">
  <div class="col-11 col-md-12 mx-auto order-2 order-md-1 text-center rounded border border-warning portfolio">
    <h4 class="text-left my-3">Jegyesfotók</h4>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImagesEngaged"></ngx-gallery>
  </div>
  <!--<div class="col-12 col-md-2 order-1 text-center">Lorem ipsum</div>-->
</div>

<div class="row py-4" *ngIf="galleryImagesCreative.length">
  <div class="col-11 col-md-12 mx-auto order-2 order-md-1 text-center rounded border border-warning portfolio">
    <h4 class="text-left my-3">Kreatívfotók</h4>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImagesCreative"></ngx-gallery>
  </div>
  <!--<div class="col-12 col-md-2 order-1 text-center">Lorem ipsum</div>-->
</div>

<div class="row py-4" *ngIf="galleryImagesPortrait.length">
  <div class="col-11 col-md-12 mx-auto order-2 order-md-1 text-center rounded border border-warning portfolio">
    <h4 class="text-left my-3">Portrék</h4>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImagesPortrait"></ngx-gallery>
  </div>
  <!--<div class="col-12 col-md-2 order-1 text-center">Lorem ipsum</div>-->
</div>

<div class="row py-4" *ngIf="galleryImagesChildAndFamily.length">
  <div class="col-11 col-md-12 mx-auto order-2 order-md-1 text-center rounded border border-warning portfolio">
    <h4 class="text-left my-3">Gyerek-és családi fotók</h4>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImagesChildAndFamily"></ngx-gallery>
  </div>
  <!--<div class="col-12 col-md-2 order-1 text-center">Lorem ipsum</div>-->
</div>

<div class="row py-4" *ngIf="galleryImagesPregnant.length">
  <div class="col-11 col-md-12 mx-auto order-2 order-md-1 text-center rounded border border-warning portfolio">
    <h4 class="text-left my-3">Kismamafotók</h4>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImagesPregnant"></ngx-gallery>
  </div>
  <!--<div class="col-12 col-md-2 order-1 text-center">Lorem ipsum</div>-->
</div>

<div class="row py-4" *ngIf="galleryImagesChristening.length">
  <div class="col-11 col-md-12 mx-auto order-2 order-md-1 text-center rounded border border-warning portfolio">
    <h4 class="text-left my-3">Keresztelőfotók</h4>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImagesChristening"></ngx-gallery>
  </div>
  <!--<div class="col-12 col-md-2 order-1 text-center">Lorem ipsum</div>-->
</div>

<div class="row py-4" *ngIf="galleryImagesKindergarten.length">
  <div class="col-11 col-md-12 mx-auto order-2 order-md-1 text-center rounded border border-warning portfolio">
    <h4 class="text-left my-3">Óvodaifotók</h4>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImagesKindergarten"></ngx-gallery>
  </div>
  <!--<div class="col-12 col-md-2 order-1 text-center">Lorem ipsum</div>-->
</div>

<div class="row py-4" *ngIf="galleryImagesWedding.length">
  <div class="col-11 col-md-12 mx-auto order-2 order-md-1 text-center rounded border border-warning portfolio">
    <h4 class="text-left my-3">Esküvőifotók</h4>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImagesWedding"></ngx-gallery>
  </div>
  <!--<div class="col-12 col-md-2 order-1 text-center">Lorem ipsum</div>-->
</div>



