<div class="row header-row py-4">
  <div class="col-11 col-md-12 mx-auto title text-center rounded p-3">
    <h1>Képgaléria</h1>
  </div>
</div>
<div class="row py-4">
  <div class="col-11 col-md-12 mx-auto order-2 order-md-1 text-center rounded border border-warning portfolio">
    <h1 class="text-left my-3">Jegyesfotók</h1>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
  </div>
  <div class="col-12 col-md-2 order-1 text-center">Lorem ipsum</div>
</div>



