<div class="container">
  <div class="row header-row py-4">
    <div class="col-12 title text-center rounded p-3">
      <h1>Képgaléria</h1>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-12 col-md-10 order-2 order-md-1 text-center">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>
    <div class="col-12 col-md-2 order-1 text-center">Lorem ipsum</div>
  </div>
</div>

<div id="menuIndicator" class="d-none d-sm-block">
  K <br>É <br>P <br>G <br>A <br>L <br>É <br>R <br>I <br>A
</div>
